<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bem vindo!{% endblock %}</title>
    <link rel="icon" type="image/png"  href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/css/order.css">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

{% block body %}

    <div class="topo">
        <h1 >FullStack</h1>
        <a onclick="redirectHome()" class="sair" href="/">SAIR <img src="assets/img/x.svg"> </a>
    </div>
    <div class="navigation">
        <div class="container" >


            <table>
                <tr>
                    <th>
                        E-mail
                        {{ knp_pagination_sortable(orders, '⇧', 'customer_email', {'defaultDirection' : 'desc'}) }}
                        {{ knp_pagination_sortable(orders, '⇩', 'customer_email', {'defaultDirection' : 'asc'}) }}
                    </th>
                    <th>
                        Primeiro Nome
                        {{ knp_pagination_sortable(orders, '⇧', 'customer_firstname', {'defaultDirection' : 'desc'}) }}
                        {{ knp_pagination_sortable(orders, '⇩', 'customer_firstname', {'defaultDirection' : 'asc'}) }}
                    </th>
                    <th>
                        Total
                        {{ knp_pagination_sortable(orders, '⇧', 'grand_total', {'defaultDirection' : 'desc'}) }}
                        {{ knp_pagination_sortable(orders, '⇩', 'grand_total', {'defaultDirection' : 'asc'}) }}
                    </th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{ order.customer_email }}</td>
                    <td>{{ order.customer_firstname }}</td>
                    <td>{{ order.grand_total }}</td>
                </tr>
                {% endfor %}
                </table>
            <p>total: {{ orders.count }} de {{ orders.getTotalItemCount }}</p>
            {{ knp_pagination_render(orders) }}
        </div>
    </div>
    <footer>
        <script>
            function redirectHome() {
                fetch('{{ path('logout') }}');
            }
        </script>
    </footer>
{% endblock %}

</body>
</html>
